[alimentacao]
account_type = alelo
account_name = Assets:Alelo:Alimentacao

[refeicao]
account_type = alelo
account_name = Assets:Alelo:Refeicao

[itau]
input_file = PATH
account_name = Assets:Checking

[nubank]
input_file = PATH
account_name = Liabilities:Nubank
pay_day=10
best_day=8
